<%- include('header'); -%>

<div class="overview">

    <div class="grid-item-overview <%=blog[0].classes%>"><img src="<%=blog[0].img%>" alt="<%=blog[0].alt%>"></img><h1 class="title"><%=blog[0].title%></h1><p class="description"><%=blog[0].description%></p><p class="date"><%=blog[0].date%></p></div>

    <p class="text">
Crying Girl (1963) by Roy Lichtenstein is an iconic work of Pop Art. Interestingly, this piece has a sparkling history. Its provenance shows that it belonged to top figures in the art world. Contemporary artist, Chuck Close purchased the piece at the famed Leo Castelli Gallery in 1963.
    </p>
</div>


<%- include('footer'); -%>
