<article>
  <h1><%=post.title %></h1>
  <% for(var t=0; t<post.tags.length; t++) { %>
    <span><%=post.tags[t] %></span>
  <% } //end forloop %>
  <date><%=post.date %></date>
  <p><%=post.excerpt %></p>
  <address class="author"><%=post.author %></address>
  <a href="/blog/<%=index %>">meer lezen...</a>
</article>
