<%- include('header'); -%>


<div class="button-group filters-button-group">
<button class="button" data-filter=".red">Popart</button>
<button class="button" data-filter=".green">Expressionisme</button>
<button class="button" data-filter=".all">All</button>
</div>

<div class="grid">
<% for(let i=0; i<blog.length; i++) { %>
    <div class="grid-item <%=blog[i].classes%>"><img src="<%=blog[i].img%>" alt="<%=blog[i].alt%>"></img><h1 class="title"><%=blog[i].title%></h1><p class="description"><%=blog[i].artist%></p><p class="date"><%=blog[i].date%></p></div>
<% } %>
</div>


<%- include('footer'); -%>
